* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optionally, include this for consistent box-sizing */
}

#content{
    height: 100%;
}

.top{
    background-color: #111827;
    height: 10em;
}

.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 1em;
    color: #ecfdf5;

}

.container{
    display: flex;
    justify-content: center;
    gap: 4em;
    font-size: 1.3em;
    color: #ecfccb;

}


.bgImg{
    width: 100%;
    display: block;
}

.footer{
    display: flex;
    background-color: #111827;
    color: #ecfccb;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.githubIcon{
    width: 1rem;
    height: 1rem;
    background-color: #ecfccb;
    border-radius: 100%;
}

.githubLink{
    padding-top: 5px;
}


